/* Much of this code was provided.
I added a little but of button styling */

body { 
  margin: 0; 
  padding: 0; 
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px; 
}

button {
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#stops {
  background-color: red;
}